@import url(http://fonts.googleapis.com/css?family=Righteous&subset=latin,latin-ext);
html, body {
	
	font-size: 1.143em;
	  font-family: Righteous;

	  background-size: 100% 120%;
	  background-repeat: no-repeat;

	    }




body{
    
	position: relative;
	margin: 0 auto;
	}
a{text-decoration: none;color: #fff;}
.mainHeader nav li {padding-top:20px;}
.mainHeader nav li p {padding-left: 500px;}
.mainHeader
   {
   	width: 100%;
   	background-color: white;
   	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
   }
.mainHeader nav {
	
	font-size: 1.143em;
	height: 70px;
	line-height: 30px;
	margin: 0 auto 0 auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left; 
	display: inline; 
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	
	text-shadow: none !important;
}
	
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav li img
{

	height: 40px;
}
/* #navContent
{
margin:auto;	
width:1000px;
height: 530px;
padding: 10px;
background-color: #3399FF;
background-image: url(img/bg.png);
background-size: 1020px 550px;
position:relative;
overflow:hidden;
border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
} */

#game1{
margin:auto;
width:800px;
height:500px;
right:0px;
position:absolute;
margin-right:10%;
margin-top:5%;
}


#game2{
margin:auto;
width:800px;
height:500px;
right:-800px;
position:absolute;
margin-right:10%;
margin-top:5%;	
} 

.questionText{
	margin-top: 25px;
	margin-bottom: 10px;
	/* width: 715px; */
	color:  #FCEEEE;
	font-size: bold;
	text-align: center;
    font-size:35px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

p{
	font-size: 30px;
	color:  #FCEEEE;
}
.myGrade
{
	font-size: 30px;
}
.option
{
width:150px;
height:120px;
margin:5px; /* extenal distance between choices */
font-size:12px;
color:#FCEEEE; 
opacity: 0.8;
padding-top:15px;
float: left;
display: inline;
text-align: center;
padding-left:10px;
border: 2px solid white;
cursor:pointer;
/* background-color: #ffdc4c; */
border-color: #FCEEEE;
border-width: 5px;
border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	

}

/*
.option:hover{
border:#FC0 solid 2px;
color:#FC0;
}

*/

#topbar{
height: 60px;
background-color: white;
text-align: center;
margin: auto;
padding: 5px;
width: 1000px;
font-size:36px;
font-weight: bold;
/*border:10px solid black; */
}

#home_icon{
float:left;
margin-top:1%;
margin-left:10%;
}

#score{
/* font-family:VT323; */
float:right;
margin-top:0%;
color:yellow;



}
#bar{
width:60%;
}
 
.spacer{
height:10px;
}

.stars{
margin-top:10%;
margin-left:20%;}
 




.feedback1{
width:250px;
padding:5px;
margin-top:24px;
font-size:30px;
background-color:#009900;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
border-radius: 5px;

}

.feedback2{
width:250px;

padding:5px;
margin-top: 32px;
font-size:24px;
color:#FFFFCC;
background-color:#CC3300;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
border-radius: 5px;

}

.feedback_line{
width: 80%;
margin-left:15%;
margin-right:2%;
/* padding: 5%; */
font-size:14px;
color:#FCEEEE;
/* background-color:#ccff99; */
}

#scoreBar{
width:150px;
margin-top: 150px;
margin-left: 400px;
font-size:30px;
color: white;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}
 
#replay
{
	width: 60px;
	height: 60px;
margin-top: 50px;
	cursor: pointer;
	
}
#nextLevel{
	width: 60px;
	height: 60px;
}
 
@media screen and (max-width:800px) {
	#topbar{margin-left:1%;margin-right:1%;	width:96%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}


}
@media screen and (max-width:500px) {
	.option{width:80%;margin:5%;}
}

.round-button {
	/* margin-top:40%;
	margin-left:50%;	 */
    display:block;
    width:100px;
    height:100x;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#A52A2A;
    text-align:center;
    text-decoration:none;
    background: orange;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.avatar{
width:15%;
height:20%;


}

.avatar img{
width:100%;
height:100%;
}

#nextQuest{
width:10%;
height:10%;
margin-top:6%;
margin-left:90%;
position:relative;

}
#nextQuest img{
height:100%;
margin-right:0%;
}




.small {
    height: 0px;
    overflow: hidden;
}
.big {
    height: auto;
}

.colored{
color:yellow;}

#ui button #e{background-color:red;}

.stage_nr{width:40px; }

/* #stage_1{position:absolute;
	margin-left:50%;
	margin-top:30%;
	}
#stage_2{position:absolute;
	margin-left:60%;
	margin-top:20%;
}
#stage_3{position:absolute;
	margin-left:30%;
	margin-top:10%;
} */
#info{margin-left:50%;}
#ui{position:relative;}
/* button#e {position:absolute; margin-top:23%; margin-left:54%; width:140px; height:80px; background: transparent;    border: none !important; font-size:0;} 
button#m {position:absolute; margin-top:32%; margin-left:45%; width:220px; height:160px; background: transparent;    border: none !important; font-size:0;} 
button#d {position:absolute; margin-top:32%; margin-left:70%; width:220px; height:160px; background: transparent;    border:none  !important; font-size:0;} 
 */